// Specific CSS for your home-page
.favourite-button {

}

.favourite-button-red {
  fill: red;
}

.property-show-container {
  height: 75vh;
  background-color: white;
}

.grey-line {
  border-top: 1px solid rgb(221, 221, 221);
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}